body
 //+light
 color: $text-color
 background-color: $bg-body
 font-size: 14px

img
 max-width: 100% //картинка не может быть больше своего родителя

h1, h2, p 
 margin: 0

button
  border: none 
  &:hover
    cursor: pointer
  &:focus
    outline: none

ul
 padding: 0

 // Style for "checkbox"
.table-checkbox
 display: none
 &:checked + label:before
  background-color: $active
  background-image: url(../img/tick.png)
  background-repeat: no-repeat
  background-position: center
  border-color: $active
 &-label
  display: flex
  &:hover
   cursor: pointer
   background-color: #c1c1be
   border-radius: 2px
  &:before
   content: ''
   width: 20px
   height: 20px
   border: 1px solid #bbbdbf
   border-radius: 2px

.form
 background-image: url('../img/arrow.png')
 background-repeat: no-repeat
 //background-position: center
 //overflow: hidden
 
 select
  //width: 47px
  //height: 9px
  //color: #000000
  //font-family: "Proxima Nova"
  min-width: 76px
  border: 0
  background-color: transparent
  font-size: 13px
  font-weight: 700
  line-height: 26px
  text-transform: uppercase
  letter-spacing: 0.78px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  &:focus
   outline: none
  

// select
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;


// карточки проекта
.card
 width: 172px
 min-height: 172px
 text-align: center
 background-color: $bg-secondary
 &-img
  padding-top: 22px
 &-text
  margin: 14px auto
  width: 132px
  h2
   font-size: 18px
   //font-weight: 400
   line-height: 26px
  p
   //margin-top: 9px
   font-size: 14px
   color: #6d6e71
   font-style: italic
   line-height: 18px

/*Настройка секций*/
.section
 padding: 55px 0 0
 &-title
  font-size: 30px
  +bold
  //text-align: center
  //text-transform: uppercase
 &__title //внешнюю геометрию задаем элементам по БЭМ, а не блокам
  //margin-bottom: 100px

/*Кнопка в навигации*/
.button-o
 padding: 17px 22px
 font-size: 12px
 +bold
 text-transform: uppercase
 //border: 2px solid $primary
 //color: $primary
 background-color: transparent
 text-decoration: none

/*Кнопка по сайту*/
.button
 padding: 25px 45px
 text-transform: uppercase
 border: none
 //background-color: $primary
 color: #fff
 +bold
 text-decoration: none
 &:hover
   cursor: pointer


 /*Кнопка примерить онлайн в секции каталоге*/
 &-fitting
  //color: $primary
  background-color: #fff
 /*Кнопка заказать в секции каталоге*/
 &-add
  //background-color: lighten($primary, 10%)
  color: #fff
  /*Кнопка лайк в секции каталоге*/
 &-like
  //background-color: $primary
  height: 30px
  width: 30px
  border: none
  display: flex
  align-items: center

/*Фоновый цвет вторичных секций*/
.bg-secondary
 //background-color: $bg-secondary

/*Оформление полей формы*/
.input
 height: 80px
 padding-left: 30px
 border: 1px solid #ddd



/*стрелка прокрутки вверх*/
.go-top 
	display: none
	position: fixed
	right: 2%
	bottom: 25%
 width: 20px
	cursor: pointer
 opacity: 0.4
 //z-index: 100
 &:hover
  opacity: 1





@media (max-width: 576px)
 .button-o
  font-size: 10px
 .section
  padding: 40px 0
  &-title
   font-size: 24px
  &__title
   margin-bottom: 50px

@media (max-width: 425px)
 .checkbox
   &-label
    //margin-right: 5px
    &:before
     //margin-right: 5px
 .button
  padding: 25px 15px
  &_lg
   font-size: 10px
  &-like
   height: 20px
   width: 20px
