@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 980px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000;
  background-color: #f7f7f7;
  font-size: 14px;
}

img {
  max-width: 100%;
}

h1, h2, p {
  margin: 0;
}

input {
  border: 0;
}

input:focus {
  outline: none;
}

/* button
 border: none
 &:hover
  cursor: pointer
 &:focus
  outline: none */
ul {
  padding: 0;
}

.table-checkbox {
  display: none;
}

.table-checkbox:checked + label:before {
  background-color: #c43d58;
  background-image: url(../img/tick.png);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #c43d58;
}

.table-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-checkbox-label:hover {
  cursor: pointer;
  background-color: #c1c1be;
  border-radius: 2px;
}

.table-checkbox-label:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #bbbdbf;
  border-radius: 2px;
}

.arrow {
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
}

.arrow select {
  min-width: 76px;
  border: 0;
  background-color: transparent;
  font-size: 13px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.78px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.arrow select:focus {
  outline: none;
}

.card {
  width: 172px;
  min-height: 172px;
  text-align: center;
  background-color: #fff;
}

.card-img {
  padding-top: 22px;
}

.card-text {
  margin: 14px auto;
  width: 132px;
}

.card-text h2 {
  font-size: 18px;
  line-height: 26px;
}

.card-text p {
  font-size: 14px;
  color: #6d6e71;
  font-style: italic;
  line-height: 18px;
}

/*Настройка секций*/
.section {
  padding: 55px 0 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.input {
  width: 365px;
  border-bottom: 2px solid #dbdcdd;
}

.button {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.8px;
  border: none;
  background-color: transparent;
  font-family: 'Proxima Nova Semibold', sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  cursor: pointer;
}

/*Оформление select формы*/
.select {
  width: 365px;
  border-bottom: 2px solid #dbdcdd;
  position: relative;
}

.select:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/arrow.png") no-repeat center;
  background-size: 100%;
  width: 9px;
  height: 5px;
}

.select:hover {
  cursor: pointer;
}

.select_checked {
  color: #6d6e71;
}

.select__dropdown {
  display: none;
  margin: 0;
  position: absolute;
  top: 19px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #c1c1be;
  list-style: none;
}

.select__dropdown_open {
  display: block;
}

.select__dropdown:last-child {
  padding-bottom: 20px;
}

.select__option {
  padding: 20px 0 0 18px;
  color: #c2c2c2;
  font-style: italic;
}

.select__option:hover {
  color: #6a6a6a;
}

/*Настройка шрифтов*/
/*Настройка флексов*/
.table-title {
  margin: 56px 0 42px 476px;
}

.table-title h1 {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.table-block {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 980px;
  height: 45px;
  background-color: #fff;
}

.table-block:last-child {
  margin: 0;
}

.table-block-checkbox {
  margin-left: 10px;
}

.table-block-select {
  margin-left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-block-select__form1 {
  background-position: 16%;
}

.table-block-select__form2 {
  margin-left: 167px;
  background-position: 85%;
}

.table-block-select__form3 {
  margin-left: 209px;
  background-position: 90%;
}

.table-block-select__form4 {
  margin-left: 250px;
  background-position: 95%;
  border-bottom: 2px solid #dbdcdd;
}

.table-block-select__form4 select {
  text-transform: capitalize;
  min-width: 90px;
}

.table-block-select__form5 {
  margin-left: 157px;
  background-position: 95%;
  border-bottom: 2px solid #dbdcdd;
}

.table-block-select__form5 select {
  text-transform: capitalize;
  min-width: 90px;
}

.table-block-select__number {
  max-width: 246px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.table-block-select__name {
  max-width: 246px;
  margin-left: 179px;
  font-weight: 700;
  line-height: 26px;
}

.table-block-row {
  opacity: 0.5;
}

.table-block-row:hover {
  -webkit-box-shadow: 0 6px 16px rgba(51, 51, 51, 0.07);
          box-shadow: 0 6px 16px rgba(51, 51, 51, 0.07);
  opacity: 1;
}

@media (max-width: 991px) {
  .table-title {
    margin: 56px 0 42px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .table-title {
    margin: 46px 0 32px;
  }
  .table-block-checkbox {
    margin-left: 5px;
  }
  .table-block-select {
    margin-left: 18px;
  }
  .table-block-select__form2 {
    margin-left: 0;
    background-position: 85%;
  }
  .table-block-select__form3 {
    margin-left: 0;
    background-position: 90%;
  }
  .table-block-select__form4 {
    margin-left: 0;
    background-position: 95%;
  }
  .table-block-select__form4 select {
    min-width: 90px;
  }
  .table-block-select__form5 {
    margin-left: 0;
    background-position: 95%;
  }
  .table-block-select__form5 select {
    min-width: 90px;
  }
  .table-block-select__number {
    margin-left: 0;
  }
  .table-block-select__name {
    margin-left: 0;
  }
}

.projects-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-block__card {
  margin-right: 30px;
}

@media (max-width: 991px) {
  .projects-block__card {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .projects-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form {
  padding-top: 55px;
}

.form__block {
  min-height: 328px;
  background-color: #fff;
}

.form__project {
  padding-left: 31px;
}

.form__title {
  padding: 32px 0 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form__select {
  margin-top: 10px;
}

.form__group {
  padding-right: 45px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__group_btn {
  padding-right: 18px;
}

.form__label {
  display: block;
  color: #6d6e71;
  font-size: 17px;
}

.form__label:hover {
  color: #000;
}

.form__label span {
  padding-left: 3px;
  color: #c53d58;
  font-size: 12px;
}

.form__input {
  margin-top: 10px;
  display: block;
}

.form__btn-cancel {
  padding: 18px 29px 17px 36px;
  border: 2px solid #576b87;
  border-radius: 5px;
  color: #576b87;
}

.form__btn-cancel:hover {
  background-color: #376b8b;
  color: #fff;
}

.form__btn-cancel:focus {
  background-color: #112a42;
  border-color: #112a42;
  color: #fff;
}

.form__btn-add {
  padding: 18px 35px 17px;
  background-color: #ffee36;
  border-radius: 5px;
  color: #253244;
}

.form__btn-add:hover {
  background-color: #f1e76e;
  color: #fff;
}

.form__btn-add:focus {
  background-color: #c1c1be;
  color: #fff;
}

@media (max-width: 992px) {
  .form__select {
    width: 100%;
  }
  .form__group {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .form__group_btn {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .form__input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .form__block {
    padding: 0 30px 20px;
  }
  .form__project {
    padding: 0;
  }
  .form__title {
    text-align: center;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .form__group {
    padding: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .form__group_width {
    width: 60%;
  }
  .form__input {
    margin-bottom: 20px;
  }
  .form__btn-cancel {
    margin: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */