@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 980px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000;
  background-color: #f7f7f7;
}

img {
  max-width: 100%;
}

h1, h2, p {
  margin: 0;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;
}

.table-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #bbbdbf;
  background-color: #fff;
}

.form {
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
}

.form:focus {
  border: 0;
}

.form select {
  min-width: 76px;
  border: 0;
  background-color: transparent;
  font-size: 13px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.78px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.card {
  width: 172px;
  min-height: 172px;
  text-align: center;
  background-color: #fff;
}

.card-img {
  padding-top: 22px;
}

.card-text {
  margin: 24px auto;
  width: 132px;
}

.card-text h2 {
  font-size: 18px;
  line-height: 26px;
}

.card-text p {
  margin-top: 9px;
  font-size: 14px;
  color: #6d6e71;
  font-style: italic;
  line-height: 18px;
}

/*Настройка секций*/
.section {
  padding: 55px 0 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

/*Кнопка в навигации*/
.button-o {
  padding: 17px 22px;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
}

/*Кнопка по сайту*/
.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-decoration: none;
  /*Кнопка примерить онлайн в секции каталоге*/
  /*Кнопка заказать в секции каталоге*/
}

.button:hover {
  cursor: pointer;
}

.button-fitting {
  background-color: #fff;
}

.button-add {
  color: #fff;
  /*Кнопка лайк в секции каталоге*/
}

.button-like {
  height: 30px;
  width: 30px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Фоновый цвет вторичных секций*/
/*Оформление полей формы*/
.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #ddd;
}

/*Оформление checkbox формы*/
.checkbox {
  display: none;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label:before {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

/*Оформление select формы*/
.select {
  height: 80px;
  width: 100%;
  border: 1px solid #ddd;
  position: relative;
}

.select:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/offer/arrow-down.png") no-repeat center;
  background-size: 100%;
  width: 20px;
  height: 20px;
}

.select:hover {
  cursor: pointer;
}

.select_checked {
  padding-left: 30px;
  line-height: 80px;
}

.select__dropdown {
  display: none;
  margin: 0;
  position: absolute;
  top: 78px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style: none;
}

.select__dropdown_open {
  display: block;
}

.select__option {
  padding: 20px 30px;
}

/*стрелка прокрутки вверх*/
.go-top {
  display: none;
  position: fixed;
  right: 2%;
  bottom: 25%;
  width: 20px;
  cursor: pointer;
  opacity: 0.4;
}

.go-top:hover {
  opacity: 1;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section {
    padding: 40px 0;
  }
  .section-title {
    font-size: 24px;
  }
  .section__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .button {
    padding: 25px 15px;
  }
  .button_lg {
    font-size: 10px;
  }
  .button-like {
    height: 20px;
    width: 20px;
  }
}

/*Настройка шрифтов*/
/*Настройка флексов*/
.table-title {
  text-align: center;
}

.table-title h1 {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 30px;
}

.table-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 980px;
  height: 45px;
  background-color: #fff;
}

.table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-header-checkbox {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-header-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-header-select__form1 {
  margin-left: 15px;
  background-position: 20%;
}

.table-header-select__form2 {
  margin-left: 180px;
  background-position: 85%;
}

.table-header-select__form3 {
  margin-left: 209px;
  background-position: 90%;
}

.projects-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-block__card {
  margin-right: 30px;
}

@media (max-width: 991px) {
  .projects-block__card {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .projects-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */