@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 980px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000;
  background-color: #f7f7f7;
  font-size: 14px;
}

img {
  max-width: 100%;
}

h1, h2, p {
  margin: 0;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;
}

.table-checkbox {
  display: none;
}

.table-checkbox:checked + label:before {
  background-color: #c43d58;
  background-image: url(../img/tick.png);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #c43d58;
}

.table-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-checkbox-label:hover {
  cursor: pointer;
  background-color: #c1c1be;
  border-radius: 2px;
}

.table-checkbox-label:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #bbbdbf;
  border-radius: 2px;
}

.form {
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
}

.form select {
  min-width: 76px;
  border: 0;
  background-color: transparent;
  font-size: 13px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.78px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form select:focus {
  outline: none;
}

.card {
  width: 172px;
  min-height: 172px;
  text-align: center;
  background-color: #fff;
}

.card-img {
  padding-top: 22px;
}

.card-text {
  margin: 14px auto;
  width: 132px;
}

.card-text h2 {
  font-size: 18px;
  line-height: 26px;
}

.card-text p {
  font-size: 14px;
  color: #6d6e71;
  font-style: italic;
  line-height: 18px;
}

/*Настройка секций*/
.section {
  padding: 55px 0 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

/*Кнопка в навигации*/
.button-o {
  padding: 17px 22px;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
}

/*Кнопка по сайту*/
.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-decoration: none;
  /*Кнопка примерить онлайн в секции каталоге*/
  /*Кнопка заказать в секции каталоге*/
}

.button:hover {
  cursor: pointer;
}

.button-fitting {
  background-color: #fff;
}

.button-add {
  color: #fff;
  /*Кнопка лайк в секции каталоге*/
}

.button-like {
  height: 30px;
  width: 30px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Фоновый цвет вторичных секций*/
/*Оформление полей формы*/
.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #ddd;
}

/*стрелка прокрутки вверх*/
.go-top {
  display: none;
  position: fixed;
  right: 2%;
  bottom: 25%;
  width: 20px;
  cursor: pointer;
  opacity: 0.4;
}

.go-top:hover {
  opacity: 1;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section {
    padding: 40px 0;
  }
  .section-title {
    font-size: 24px;
  }
  .section__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .button {
    padding: 25px 15px;
  }
  .button_lg {
    font-size: 10px;
  }
  .button-like {
    height: 20px;
    width: 20px;
  }
}

/*Настройка шрифтов*/
/*Настройка флексов*/
.table-title {
  margin: 56px 0 42px 476px;
}

.table-title h1 {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.table-block {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 980px;
  height: 45px;
  background-color: #fff;
}

.table-block:last-child {
  margin: 0;
}

.table-block-checkbox {
  margin-left: 10px;
}

.table-block-select {
  margin-left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-block-select__form1 {
  background-position: 16%;
}

.table-block-select__form2 {
  margin-left: 167px;
  background-position: 85%;
}

.table-block-select__form3 {
  margin-left: 209px;
  background-position: 90%;
}

.table-block-select__form4 {
  margin-left: 250px;
  background-position: 95%;
  border-bottom: 2px solid #dbdcdd;
}

.table-block-select__form4 select {
  text-transform: capitalize;
  min-width: 90px;
}

.table-block-select__form5 {
  margin-left: 157px;
  background-position: 95%;
  border-bottom: 2px solid #dbdcdd;
}

.table-block-select__form5 select {
  text-transform: capitalize;
  min-width: 90px;
}

.table-block-select__number {
  max-width: 246px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.table-block-select__name {
  max-width: 246px;
  margin-left: 179px;
  font-weight: 700;
  line-height: 26px;
}

.table-block-row {
  opacity: 0.5;
}

.table-block-row:hover {
  -webkit-box-shadow: 0 6px 16px rgba(51, 51, 51, 0.07);
          box-shadow: 0 6px 16px rgba(51, 51, 51, 0.07);
  opacity: 1;
}

.projects-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-block__card {
  margin-right: 30px;
}

@media (max-width: 991px) {
  .projects-block__card {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .projects-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */