.projects
 padding: 55px 0 0
 &-block
  display: flex
  flex-wrap: wrap //переносятся элементы если не помещяются
  &__card
   margin-right: 30px
   color: $text-color
   

@media (max-width: 991px)
 .projects
  &-block
   &__card
    margin-bottom: 30px

@media (max-width: 768px)
 .projects
  &-block
   justify-content: center
   &__card
    