.table
 &-title
  margin: 56px 0 42px 476px
  //text-align: center
  h1
   +bold
   font-size: 30px
 &-block
  margin-bottom: 5px
  display: flex
  //flex-wrap: wrap
  align-items: center
  max-width: 980px
  min-height: 45px
  background-color: $bg-secondary
  &:last-child
   margin: 0
  &-checkbox
   margin-left: 14px
  &-select
   margin-left: 28px
   display: flex
   
   &__form1
    background-position: 16%
   &__form2
    margin-left: 167px
    background-position: 85%
   &__form3
    margin-left: 209px
    background-position: 90%
   &__form4
    margin-left: 250px
    background-position: 95%
    border-bottom: 2px solid #dbdcdd
    select
     text-transform: capitalize
     min-width: 90px
   &__form5
    margin-left: 163px
    background-position: 95%
    border-bottom: 2px solid #dbdcdd
    select
     text-transform: capitalize
     min-width: 90px
   &__number
    max-width: 246px
    font-weight: 700
    line-height: 26px
    text-transform: uppercase
   &__name
    max-width: 246px
    margin-left: 185px
    font-weight: 700
    line-height: 26px
  &-row
   opacity: 0.5
   &:hover
    box-shadow: 0 6px 16px rgba(51, 51, 51, 0.07)
    opacity: 1

@media (max-width: 991px)
 .table
  &-title
   margin: 56px 0 42px
   text-align: center 

@media (max-width: 768px)
 .table
  &-title
   margin: 46px 0 32px
  &-block
   flex-direction: column
   &-checkbox
    margin-left: 5px
   &-select
    margin-left: 0
    width: 100%
    justify-content: space-around
    
    &__form1
    &__form2
     margin-left: 0
     background-position: 85%
    &__form3
     margin-left: 0
     background-position: 90%
    &__form4
     margin-left: 0
     background-position: 95%
     select
      min-width: 90px
    &__form5
     margin-left: 0
     background-position: 95%
     select
      min-width: 90px
    &__number
     margin-left: 0
    &__name
     margin-left: 0
   
@media (max-width: 576px)
 .table
  &-title
  &-block
   &-checkbox
   &-select
    padding: 0 10px
    font-size: 12px
    text-align: center
    &__form1
     min-width: 55px
    &__form2
     
    &__form3
    &__form4
     select
      min-width: 55px
    &__form5
     select
      min-width: 55px
    &__number
     margin-left: 0
    &__name
     margin-left: 0