.table
 &-title
  text-align: center
  h1
   +bold
   font-size: 30px
   //font-weight: 700
   //line-height: 26px
 &-block
  display: flex
  align-items: center
  max-width: 980px
  height: 45px
  background-color: $bg-secondary
  
 &-header
  display: flex
  //flex-wrap: wrap
  &-checkbox
   margin-left: 15px
   display: flex
  &-select
   display: flex
   &__form1
    margin-left: 15px
    background-position: 20%
   &__form2
    margin-left: 180px
    background-position: 85%
   &__form3
    margin-left: 209px
    background-position: 90%
 &-row
  
 